.product_card{
   
    max-width: 300px;
    overflow: hidden;
    height: 515px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
}
.product_card img{
    border-radius: 15px;
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.product_box h2{
    margin-top: 15px;
    font-family: 'Short Stack', cursive;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.product_card span{
    color: #FF9054;
    font-weight: bold;
    font-size: x-large;
}
.product_box p{
    font-family: 'Podkova', serif;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    /* color: white; */
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: #FA8200;
    margin-right: 5px;
}
#btn_view{
    background: #FFE9CF;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}